.DS_Store
.problems/
ProjectLucille/
RecognizingObjectsInLiveCapture/
SmartCameraLBTA/
To-Do-List-master/
auth0-vue-sample/
elastic-bean-stalk/
express/
get/
misc.../
vim_practice/
vue/
vuegg/

 */node_modules
